* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.nav {
  padding: 10px;
}

.nav__list {
  list-style: none;
}

.nav__list__item {
  display: inline;
  margin: 10px;
}

.portfolio__image {
  max-width: 100%;
}

.personal__wrapper {
  margin-top: 10px;
}

.personal__intro, .personal__name, .personal__title, .personal__bio {
  margin-top: 10px;
}

.projects__image {
  max-width: 100%;
}

.projects__header, .projects__title, .projects__image, .projects__description {
  margin-top: 10px;
}

.projects__description {
  margin-bottom: 10px;
}

.projects__wrapper a {
  margin: 5px;
}

/* css for mobile breakpoints */
@media screen and (min-width: 992px) {
  .nav {
    float: right;
  }
  .clearfix {
    clear: both;
  }
  .portfolio__image__wrapper {
    float: left;
    width: 45%;
    margin-right: 10%;
    border-style: dotted;
    border-color: black;
  }
  .personal__wrapper {
    float: left;
    width: 45%;
  }
  .projects__image {
    float: right;
    width: 45%;
    margin-left: 5%;
    height: 300px;
  }
  
  .projects__header, .projects__title {
    margin-top: 20px;
  }

}